@page
@model RazorPage_Web.Pages.Shared.Pages_Shared__Sidebar
@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="d-flex">
    <div class="sidebar bg-white text-dark p-3">
        @await Html.PartialAsync("_Sidebar")
    </div>
  
</div>