@page
@model RazorPage_Web.Pages.UserModel
@{
}
<h2 class="text-center">Welcome to your account</h2>
<div>
	Full Name: @Model.appUser?.FullName
</div>
<div>
	Email: @Model.appUser?.Email
</div>
<div>
	Phone Number: @Model.appUser?.PhoneNumber
</div>
<div>
	Address: @Model.appUser?.Address
</div>