@using Microsoft.AspNetCore.Identity
@using RazorPage_Web.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
    var isAdmin = false;
    var isManager = false;
    var isStaff = false;

    if (user != null)
    {
        isAdmin = await UserManager.IsInRoleAsync(user, "admin");
        isManager = await UserManager.IsInRoleAsync(user, "manager");
        isStaff = await UserManager.IsInRoleAsync(user, "staff");
    }

    var currentPath = Context.Request.Path.ToString().ToLower();

}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />



<!-- Sidebar user panel (optional) -->
<div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
        <img src="~/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
    </div>
    <div class="info">
        <a href="/User" class="d-block">@UserManager.GetUserName(User)</a>
    </div>
</div>
<!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        @if (isAdmin)
        {
            <li class="nav-item">
                <a asp-page="/User" class="nav-link">
                    <i class="nav-icon fas fa-house"></i>
                    <p>
                        Home
                    </p>
                </a>
            </li>

            <!-- Add icons to the links using the .nav-icon class
                    with font-awesome or any other icon font library -->

            <li class="nav-item">
                <a asp-page="/Admin/Dashboard/Index" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>Dashboard v1</p>
                </a>
            </li>
         
            <li class="nav-item">
                <a asp-page="/Admin/Products/Index" class="nav-link">
                    <i class="nav-icon fas fa-bag-shopping"></i>
                    <p>
                        Products
                        <span class="right badge badge-danger">New</span>
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a asp-page="/Admin/Orders/Index" class="nav-link">
                    <i class="nav-icon fas fa-cart-shopping"></i>
                    <p>
                        Orders
                        <span class="right badge badge-danger">New</span>
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-page="/Admin/Customers/Index" class="nav-link">
                    <i class="nav-icon fas fa-person"></i>
                    <p>
                        Customers

                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-page="/Admin/Users/Index" class="nav-link">
                    <i class="nav-icon fas fa-people-arrows"></i>
                    <p>
                        Users Manager
                        <span class="right badge badge-danger">New</span>
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a asp-page="/Admin/Counters/Index" class="nav-link">
                    <i class="nav-icon fas fa-tags"></i>
                    <p>
                        Counters

                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a asp-page="/Admin/CustomerPolicies/Index" class="nav-link">
                    <i class="nav-icon fas fa-bag-shopping"></i>
                    <p>
                        Customer Policies
                        <span class="right badge badge-danger">New</span>
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-page="/Admin/Promotions/Index" class="nav-link">
                    <i class="nav-icon fas fa-percent"></i>
                    <p>
                        Promotions

                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a asp-page="/Admin/Logout" class="nav-link">
                    <i class="nav-icon fas fa-right-from-bracket"></i>
                    <p>
                        Logout

                    </p>
                </a>
            </li>
        }
    </ul>
</nav>
